<h2>My Completed Tasks</h2>
<ul class="tasks">
    <li *ngFor="let task of tasks | orderBy : ['weight']"
        (click)="goToDetail(task)">
        <span class="badge">{{task.id}}</span> {{task.title}}
        <button class="delete"
                (click)="delete(task); $event.stopPropagation()">x</button>
    </li>
</ul>