<h1>{{title}}</h1>
<h2>My Tasks</h2>
<div>
    <label>Task Title:</label> <input  #taskTitle />
    <button (click)="add(taskTitle.value); taskTitle.value=''">Add</button>
</div>
<ul class="tasks">
    <li *ngFor="let task of tasks | orderBy : ['weight']"
        [class.selected]="task === selectedTask"
        (click)="onSelect(task)">
        <span class="badge">{{task.id}}</span> {{task.title}}
        <button class="delete"
                (click)="delete(task); $event.stopPropagation()">x</button>
    </li>
</ul>
<div *ngIf="selectedTask">
    <h2>
        {{selectedTask.title | uppercase}}
    </h2>
    <p>
        {{selectedTask.description}}
    </p>
    <button (click)="gotoDetail()">Edit Details</button>
</div>