<div *ngIf="task">
    <div><label>selected task title: </label>{{task.title}}</div>
    <div><label>description: </label>{{task.description}}</div>
    <div><label>completed: </label>{{task.complete}}</div>
    <div>
        <label>title: </label>
        <input [(ngModel)]="task.title" placeholder="title"><br />
        <label>weight: </label>
        <input [(ngModel)]="task.weight" placeholder="0"><br />
        <label>description: </label>
        <textarea [(ngModel)]="task.description"></textarea>
        <label>completed: </label>
        <input type="checkbox" [(ngModel)]="task.complete">
    </div>

    <button (click)="save()">Save</button><button (click)="goBack()">Back</button>
</div>
